<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>'Blog System'</title>
    <style>
        .Home{
          padding-right:600px;
          padding-left:30px;
        }
        .Uper{
          padding-right: 10px;
        }
        .up{
          padding-left: 10px;
        }
    </style>
  </head>
  <body>

    <a class="Home" href="/">Home</a>

        <a class="up" href="/users/signin">Log In</a>
        <a class="up" href="/users/signup">Register</a>
        <a class="up" href="/users/forget">Forget</a>


    <h1>Blog System</h1>

  </body>
</html>
